In [1]:
import numpy as np
import pandas as pd
import pathlib as p
import seaborn as sns
from pathlib import Path

In [2]:
dataDirPath = "C:\Work\dev\dECMT_src\data_all\COVID19_Data\Current"
fNnonITU = "labs_noITU.csv"
fNnonITUday0 = "labs_noITU_day0.csv"
fPNonITUday0 = Path(dataDirPath) / fNnonITUday0
fPNonITU = Path(dataDirPath) / fNnonITU
dfNonITUday0 = pd.read_csv(fPNonITUday0)
dfNonITU = pd.read_csv(fPNonITU)

In [3]:
dfNonITUday0

,Unnamed: 0,STUDY_ID,PARAMETER,LOWER_RANGE,UPPER_RANGE,DATE,meanValue,category,Days_since_ADMISSION,Days_since_COVID_FIRST_POSITIVE,...,PATIENT_AGE,GENDER,DEATH_DAY,DISCHARGE_DAY,ITU,INV,NIV,C5,DEATH,DISCHARGED
0,0,UHSCOVID_00989a42,ALT,10.0,40.0,2020-03-29,23.0,NORMAL,2.0,2,...,64.0,2,-1,7,0,0,0,0,0,1
1,1,UHSCOVID_00989a42,BILIRUBIN,0.0,20.0,2020-03-29,14.0,NORMAL,2.0,2,...,64.0,2,-1,7,0,0,0,0,0,1
2,2,UHSCOVID_00989a42,CREATENINE,80.0,115.0,2020-03-29,63.0,LOW,2.0,2,...,64.0,2,-1,7,0,0,0,0,0,1
3,3,UHSCOVID_00989a42,CRP,0.0,7.5,2020-03-29,192.0,HIGH,2.0,2,...,64.0,2,-1,7,0,0,0,0,0,1
4,4,UHSCOVID_00989a42,D_DIMER,0.0,243.0,2020-03-29,480.0,HIGH,2.0,2,...,64.0,2,-1,7,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,4573,UHSCOVID_fd893360,POTASSIUM,3.5,5.3,2020-03-31,3.5,NORMAL,1.0,1,...,67.0,1,-1,23,0,0,0,0,0,1
4005,4574,UHSCOVID_fd893360,SODIUM,133.0,146.0,2020-03-31,128.0,LOW,1.0,1,...,67.0,1,-1,23,0,0,0,0,0,1
4006,4576,UHSCOVID_fd893360,TROPONIN,NaN,NaN,2020-03-31,21.0,NaN,1.0,1,...,67.0,1,-1,23,0,0,0,0,0,1
4007,4577,UHSCOVID_fd893360,UREA,2.5,7.8,2020-03-31,2.9,NORMAL,1.0,1,...,67.0,1,-1,23,0,0,0,0,0,1
4008,4578,UHSCOVID_fd893360,WBC,4.0,11.0,2020-04-01,7.3,NORMAL,2.0,2,...,67.0,1,-1,23,0,0,0,0,0,1

In [7]:
list(dfNonITUday0.columns)

['Unnamed: 0',
 'STUDY_ID',
 'PARAMETER',
 'LOWER_RANGE',
 'UPPER_RANGE',
 'DATE',
 'meanValue',
 'category',
 'Days_since_ADMISSION',
 'Days_since_COVID_FIRST_POSITIVE',
 'Days_since_C5',
 'Days_since_ITU',
 'Days_since_RESPIRATORY_HDU',
 'Days_since_NIV',
 'Days_since_INVASIVE_VENTILATION',
 'Days_since_DISCHARGE',
 'Days_since_READMISSION',
 'Days_since_DEATH',
 'ADMISSION_START_DAY',
 'ADMISSION_END_DAY',
 'ITU_START_DAY',
 'ITU_END_DAY',
 'INVASIVE_VENTILATION_START_DAY',
 'INVASIVE_VENTILATION_END_DAY',
 'NIV_START_DAY',
 'NIV_END_DAY',
 'C5_START_DAY',
 'C5_END_DAY',
 'PATIENT_AGE',
 'GENDER',
 'DEATH_DAY',
 'DISCHARGE_DAY',
 'ITU',
 'INV',
 'NIV',
 'C5',
 'DEATH',
 'DISCHARGED']

In [75]:
df1 = dfNonITUday0.pivot(index='STUDY_ID',columns='PARAMETER',values=['meanValue'])
df1.head()

                  meanValue                                            \
PARAMETER               ALT   AST BILIRUBIN CREATENINE    CRP D_DIMER
STUDY_ID
UHSCOVID_00989a42      23.0   NaN      14.0       63.0  192.0   480.0
UHSCOVID_01add35c       8.0  11.0       5.0       36.0    3.0     NaN
UHSCOVID_01f7838d       NaN   NaN       NaN       80.0   12.0     NaN
UHSCOVID_025d562e      44.0  48.0       4.0       46.0   28.0   336.0
UHSCOVID_0520de1c       7.0  27.0       4.0      197.0  145.0   464.0

                                                                             \
PARAMETER         EOSINOPHILS FERRITIN    GLUCOSE     HB    LDH LYMPHOCYTES
STUDY_ID
UHSCOVID_00989a42         0.0    320.0  12.400000  138.0  639.0         1.1
UHSCOVID_01add35c         0.0     28.0   6.500000  107.0  347.0         0.7
UHSCOVID_01f7838d         0.1      NaN   6.333333  106.0    NaN         2.3
UHSCOVID_025d562e         0.1     19.0  12.900000  119.0  375.0         2.7
UHSCOVID_0520de1c         0.0    184.0  14.150000  102.0  485.0         0.3

                                                                              \
PARAMETER         NEUTROPHILS PLATELETS POTASSIUM SODIUM TRIGYCERIN TROPONIN
STUDY_ID
UHSCOVID_00989a42         8.0     277.0       4.0  139.0        NaN      9.0
UHSCOVID_01add35c        22.0     310.0       4.6  129.0        1.1      NaN
UHSCOVID_01f7838d         5.0     276.0       4.5  137.0        NaN      NaN
UHSCOVID_025d562e         4.4     326.0       4.3  140.0        2.6      2.0
UHSCOVID_0520de1c         7.3     126.0       5.5  130.0        1.6      7.0


PARAMETER          UREA   WBC
STUDY_ID
UHSCOVID_00989a42   5.7   9.4
UHSCOVID_01add35c   6.9  23.5
UHSCOVID_01f7838d   5.1   8.4
UHSCOVID_025d562e   2.0   7.7
UHSCOVID_0520de1c  17.8   7.8

In [76]:
df1.columns.values

array([('meanValue', 'ALT'), ('meanValue', 'AST'),
       ('meanValue', 'BILIRUBIN'), ('meanValue', 'CREATENINE'),
       ('meanValue', 'CRP'), ('meanValue', 'D_DIMER'),
       ('meanValue', 'EOSINOPHILS'), ('meanValue', 'FERRITIN'),
       ('meanValue', 'GLUCOSE'), ('meanValue', 'HB'),
       ('meanValue', 'LDH'), ('meanValue', 'LYMPHOCYTES'),
       ('meanValue', 'NEUTROPHILS'), ('meanValue', 'PLATELETS'),
       ('meanValue', 'POTASSIUM'), ('meanValue', 'SODIUM'),
       ('meanValue', 'TRIGYCERIN'), ('meanValue', 'TROPONIN'),
       ('meanValue', 'UREA'), ('meanValue', 'WBC')], dtype=object)

In [77]:
df2 = df1['meanValue'].reset_index()
df2

PARAMETER,STUDY_ID,ALT,AST,BILIRUBIN,CREATENINE,CRP,D_DIMER,EOSINOPHILS,FERRITIN,GLUCOSE,...,LDH,LYMPHOCYTES,NEUTROPHILS,PLATELETS,POTASSIUM,SODIUM,TRIGYCERIN,TROPONIN,UREA,WBC
0,UHSCOVID_00989a42,23.0,NaN,14.0,63.0,192.0,480.0,0.0,320.0,12.400000,...,639.0,1.10,8.00,277.0,4.0,139.0,NaN,9.0,5.7,9.4
1,UHSCOVID_01add35c,8.0,11.0,5.0,36.0,3.0,NaN,0.0,28.0,6.500000,...,347.0,0.70,22.00,310.0,4.6,129.0,1.1,NaN,6.9,23.5
2,UHSCOVID_01f7838d,NaN,NaN,NaN,80.0,12.0,NaN,0.1,NaN,6.333333,...,NaN,2.30,5.00,276.0,4.5,137.0,NaN,NaN,5.1,8.4
3,UHSCOVID_025d562e,44.0,48.0,4.0,46.0,28.0,336.0,0.1,19.0,12.900000,...,375.0,2.70,4.40,326.0,4.3,140.0,2.6,2.0,2.0,7.7
4,UHSCOVID_0520de1c,7.0,27.0,4.0,197.0,145.0,464.0,0.0,184.0,14.150000,...,485.0,0.30,7.30,126.0,5.5,130.0,1.6,7.0,17.8,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,UHSCOVID_f5c5890c,11.0,22.0,5.0,58.0,18.0,416.0,0.0,17.0,7.100000,...,416.0,1.50,4.30,156.0,4.0,140.0,1.4,129.0,5.5,6.7
287,UHSCOVID_f748a293,NaN,NaN,NaN,88.0,58.0,NaN,0.1,NaN,NaN,...,NaN,1.10,3.40,238.0,4.0,132.0,NaN,NaN,7.3,5.1
288,UHSCOVID_f834fd10,NaN,NaN,NaN,62.0,NaN,NaN,0.1,NaN,NaN,...,NaN,0.70,9.00,257.0,4.2,129.0,NaN,NaN,7.3,11.1
289,UHSCOVID_f8d03de4,28.0,NaN,7.0,156.5,74.5,NaN,0.1,NaN,NaN,...,NaN,0.75,6.35,203.5,4.1,127.5,NaN,NaN,11.8,7.7
290,UHSCOVID_fd893360,7.0,NaN,12.0,34.0,48.0,496.0,0.0,157.0,NaN,...,551.0,0.70,6.00,226.0,3.5,128.0,NaN,21.0,2.9,7.3

In [78]:
df3=df2
df3.columns.name  = None

In [79]:
df3

,STUDY_ID,ALT,AST,BILIRUBIN,CREATENINE,CRP,D_DIMER,EOSINOPHILS,FERRITIN,GLUCOSE,...,LDH,LYMPHOCYTES,NEUTROPHILS,PLATELETS,POTASSIUM,SODIUM,TRIGYCERIN,TROPONIN,UREA,WBC
0,UHSCOVID_00989a42,23.0,NaN,14.0,63.0,192.0,480.0,0.0,320.0,12.400000,...,639.0,1.10,8.00,277.0,4.0,139.0,NaN,9.0,5.7,9.4
1,UHSCOVID_01add35c,8.0,11.0,5.0,36.0,3.0,NaN,0.0,28.0,6.500000,...,347.0,0.70,22.00,310.0,4.6,129.0,1.1,NaN,6.9,23.5
2,UHSCOVID_01f7838d,NaN,NaN,NaN,80.0,12.0,NaN,0.1,NaN,6.333333,...,NaN,2.30,5.00,276.0,4.5,137.0,NaN,NaN,5.1,8.4
3,UHSCOVID_025d562e,44.0,48.0,4.0,46.0,28.0,336.0,0.1,19.0,12.900000,...,375.0,2.70,4.40,326.0,4.3,140.0,2.6,2.0,2.0,7.7
4,UHSCOVID_0520de1c,7.0,27.0,4.0,197.0,145.0,464.0,0.0,184.0,14.150000,...,485.0,0.30,7.30,126.0,5.5,130.0,1.6,7.0,17.8,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,UHSCOVID_f5c5890c,11.0,22.0,5.0,58.0,18.0,416.0,0.0,17.0,7.100000,...,416.0,1.50,4.30,156.0,4.0,140.0,1.4,129.0,5.5,6.7
287,UHSCOVID_f748a293,NaN,NaN,NaN,88.0,58.0,NaN,0.1,NaN,NaN,...,NaN,1.10,3.40,238.0,4.0,132.0,NaN,NaN,7.3,5.1
288,UHSCOVID_f834fd10,NaN,NaN,NaN,62.0,NaN,NaN,0.1,NaN,NaN,...,NaN,0.70,9.00,257.0,4.2,129.0,NaN,NaN,7.3,11.1
289,UHSCOVID_f8d03de4,28.0,NaN,7.0,156.5,74.5,NaN,0.1,NaN,NaN,...,NaN,0.75,6.35,203.5,4.1,127.5,NaN,NaN,11.8,7.7
290,UHSCOVID_fd893360,7.0,NaN,12.0,34.0,48.0,496.0,0.0,157.0,NaN,...,551.0,0.70,6.00,226.0,3.5,128.0,NaN,21.0,2.9,7.3

In [86]:
df3MeanAgg = df3.groupby('STUDY_ID').agg(CREATININE=('CREATENINE','first'),CREATININEMean=('CREATENINE','mean'))
df3MeanAgg
# comorbidGrpDF = comorbidDF.groupby('STUDY_ID').agg(RENAL_D_PRESENT=('RENAL_D_PRESENT','any'))
df3MeanAgg.reset_index(inplace=True)
df3MeanAgg

              STUDY_ID  CREATININE  CREATININEMean
0    UHSCOVID_00989a42        63.0            63.0
1    UHSCOVID_01add35c        36.0            36.0
2    UHSCOVID_01f7838d        80.0            80.0
3    UHSCOVID_025d562e        46.0            46.0
4    UHSCOVID_0520de1c       197.0           197.0
..                 ...         ...             ...
286  UHSCOVID_f5c5890c        58.0            58.0
287  UHSCOVID_f748a293        88.0            88.0
288  UHSCOVID_f834fd10        62.0            62.0
289  UHSCOVID_f8d03de4       156.5           156.5
290  UHSCOVID_fd893360        34.0            34.0

[291 rows x 3 columns]

In [87]:
len(df3MeanAgg['STUDY_ID'].unique())

291

In [88]:
dfNonITUday0.columns.values

array(['Unnamed: 0', 'STUDY_ID', 'PARAMETER', 'LOWER_RANGE',
       'UPPER_RANGE', 'DATE', 'meanValue', 'category',
       'Days_since_ADMISSION', 'Days_since_COVID_FIRST_POSITIVE',
       'Days_since_C5', 'Days_since_ITU', 'Days_since_RESPIRATORY_HDU',
       'Days_since_NIV', 'Days_since_INVASIVE_VENTILATION',
       'Days_since_DISCHARGE', 'Days_since_READMISSION',
       'Days_since_DEATH', 'ADMISSION_START_DAY', 'ADMISSION_END_DAY',
       'ITU_START_DAY', 'ITU_END_DAY', 'INVASIVE_VENTILATION_START_DAY',
       'INVASIVE_VENTILATION_END_DAY', 'NIV_START_DAY', 'NIV_END_DAY',
       'C5_START_DAY', 'C5_END_DAY', 'PATIENT_AGE', 'GENDER', 'DEATH_DAY',
       'DISCHARGE_DAY', 'ITU', 'INV', 'NIV', 'C5', 'DEATH', 'DISCHARGED'],
      dtype=object)

In [89]:
dfDemog = dfNonITUday0.filter(items=['STUDY_ID','DEATH','PATIENT_AGE', 'GENDER'])
dfDemog

               STUDY_ID  DEATH  PATIENT_AGE  GENDER
0     UHSCOVID_00989a42      0         64.0       2
1     UHSCOVID_00989a42      0         64.0       2
2     UHSCOVID_00989a42      0         64.0       2
3     UHSCOVID_00989a42      0         64.0       2
4     UHSCOVID_00989a42      0         64.0       2
...                 ...    ...          ...     ...
4004  UHSCOVID_fd893360      0         67.0       1
4005  UHSCOVID_fd893360      0         67.0       1
4006  UHSCOVID_fd893360      0         67.0       1
4007  UHSCOVID_fd893360      0         67.0       1
4008  UHSCOVID_fd893360      0         67.0       1

[4009 rows x 4 columns]

In [103]:
dfDemog['DEATH'].value_counts()

0    2729
1    1280
Name: DEATH, dtype: int64

In [108]:
# grp3 = df3MeanAgg.get_group('UHSCOVID_00989a42')

In [106]:
df3.dtypes

STUDY_ID        object
ALT            float64
AST            float64
BILIRUBIN      float64
CREATENINE     float64
CRP            float64
D_DIMER        float64
EOSINOPHILS    float64
FERRITIN       float64
GLUCOSE        float64
HB             float64
LDH            float64
LYMPHOCYTES    float64
NEUTROPHILS    float64
PLATELETS      float64
POTASSIUM      float64
SODIUM         float64
TRIGYCERIN     float64
TROPONIN       float64
UREA           float64
WBC            float64
dtype: object

In [107]:
dfDemog.dtypes

STUDY_ID        object
DEATH            int64
PATIENT_AGE    float64
GENDER           int64
dtype: object

In [94]:
df4 = pd.merge(df3MeanAgg,dfDemog,on=['STUDY_ID'],how='inner')
df4.sort_values(by='STUDY_ID')
df4

,STUDY_ID,CREATININE,CREATININEMean,DEATH,PATIENT_AGE,GENDER
0,UHSCOVID_00989a42,63.0,63.0,0,64.0,2
1,UHSCOVID_00989a42,63.0,63.0,0,64.0,2
2,UHSCOVID_00989a42,63.0,63.0,0,64.0,2
3,UHSCOVID_00989a42,63.0,63.0,0,64.0,2
4,UHSCOVID_00989a42,63.0,63.0,0,64.0,2
...,...,...,...,...,...,...
4004,UHSCOVID_fd893360,34.0,34.0,0,67.0,1
4005,UHSCOVID_fd893360,34.0,34.0,0,67.0,1
4006,UHSCOVID_fd893360,34.0,34.0,0,67.0,1
4007,UHSCOVID_fd893360,34.0,34.0,0,67.0,1
4008,UHSCOVID_fd893360,34.0,34.0,0,67.0,1

PermissionError: [Errno 13] Permission denied: 'C:\\Work\\DropBoxPS\\Dropbox\\dev\\data\\dECMT\\COVID19_SH\\Output\\day0labValuesMean.csv'

In [95]:
df4.shape

(4009, 6)

In [96]:
uniqueIds = df4['STUDY_ID'].unique()
len(df4['STUDY_ID'].unique())

291

In [100]:
grp4 = df4.groupby('STUDY_ID')
grp4.first()

                   CREATININE  CREATININEMean  DEATH  PATIENT_AGE  GENDER
STUDY_ID
UHSCOVID_00989a42        63.0            63.0      0         64.0       2
UHSCOVID_01add35c        36.0            36.0      1         67.0       1
UHSCOVID_01f7838d        80.0            80.0      0         97.0       2
UHSCOVID_025d562e        46.0            46.0      0         62.0       1
UHSCOVID_0520de1c       197.0           197.0      0         79.0       1
...                       ...             ...    ...          ...     ...
UHSCOVID_f5c5890c        58.0            58.0      0         41.0       2
UHSCOVID_f748a293        88.0            88.0      0         89.0       1
UHSCOVID_f834fd10        62.0            62.0      0         81.0       2
UHSCOVID_f8d03de4       156.5           156.5      1         86.0       2
UHSCOVID_fd893360        34.0            34.0      0         67.0       1

[291 rows x 5 columns]

In [101]:
grp4.get_group('UHSCOVID_00989a42')

    CREATININE  CREATININEMean  DEATH  PATIENT_AGE  GENDER
0         63.0            63.0      0         64.0       2
1         63.0            63.0      0         64.0       2
2         63.0            63.0      0         64.0       2
3         63.0            63.0      0         64.0       2
4         63.0            63.0      0         64.0       2
5         63.0            63.0      0         64.0       2
6         63.0            63.0      0         64.0       2
7         63.0            63.0      0         64.0       2
8         63.0            63.0      0         64.0       2
9         63.0            63.0      0         64.0       2
10        63.0            63.0      0         64.0       2
11        63.0            63.0      0         64.0       2
12        63.0            63.0      0         64.0       2
13        63.0            63.0      0         64.0       2
14        63.0            63.0      0         64.0       2
15        63.0            63.0      0         64.0       2
16        63.0            63.0      0         64.0       2
17        63.0            63.0      0         64.0       2

In [102]:
outPath = "C:\Work\DropBoxPS\Dropbox\dev\data\dECMT\COVID19_SH\Output"
fnDay0Out = Path(outPath) / 'day0labValuesMean02.csv'
# df4.to_csv(fnDay0Out)