In [7]:

# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd

# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30},
        {'Geeks':10, 'For': 20, 'geeks': 30}  ]

d2 = [{'Geeks':40, 'For': 80, 'geeks': 90},
      {'Geeks':40, 'For': 80, 'geeks': 90}]
# Creates DataFrame.
df = pd.DataFrame(data)

# Print the data
df

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30
2         10     20    30

In [10]:
df = df.append(d2,ignore_index=True)
df

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30
2         10     20    30
3         40     80    90
4         40     80    90