# Melt, unmelt, stack, unstack

In [9]:

import pandas as pd

d1 = {"Name": ["Pankaj", "Lisa", "David"], "ID": [1, 2, 3], "Role": ["CEO", "Editor", "Author"]}

df = pd.DataFrame(d1)
df
# print(df)

     Name  ID    Role
0  Pankaj   1     CEO
1    Lisa   2  Editor
2   David   3  Author

In [10]:
df_melted = pd.melt(df, id_vars=["ID"], value_vars=["Name", "Role"], var_name="Attribute", value_name="Value")

# print(df_melted)
df_melted

   ID Attribute   Value
0   1      Name  Pankaj
1   2      Name    Lisa
2   3      Name   David
3   1      Role     CEO
4   2      Role  Editor
5   3      Role  Author

In [11]:
# unmelting using pivot()

df_unmelted = df_melted.pivot(index='ID', columns='Attribute')

# print(df_unmelted)
df_unmelted

            Value
Attribute    Name    Role
ID
1          Pankaj     CEO
2            Lisa  Editor
3           David  Author

The unmelted DataFrame values are the same as the original DataFrame. But, the columns and index need some minor changes to make it exactly like the original data frame.

In [ ]:
df_unmelted2 = df_unmelted['Value'].reset_index()

df_unmelted2.columns.name = None

# print(df_unmelted2)
df_unmelted2

   ID    Name    Role
0   1  Pankaj     CEO
1   2    Lisa  Editor
2   3   David  Author