In [100]:
import numpy as np
import pandas as pd
import pathlib as p
import seaborn as sb
import matplotlib.pyplot as plt
import pathlib
from pathlib import Path
from datetime import datetime
import utilities as u
from IPython.display import Markdown as md
from IPython.display import Math as m

In [45]:
%matplotlib inline

In [46]:
def extractParentDir(dataFileName):
    purePath = pathlib.PurePath(dataFileName)
    parentDir2 = purePath.parent.parent
    return parentDir2

In [47]:
todayVal = datetime.today()
timeStampStr = todayVal.strftime("%y-%m-%d_%H-%M-%S.%f")
data_dir = r"C:\work\dev\dECMT_src\data_all\COVID19_Data\Current"
parentDir2 = extractParentDir(data_dir)
outputPath = Path(parentDir2) / "Output_Covid19_Analysis"/f"{timeStampStr}_bipartite"

In [48]:
comorbidFN = p.Path(data_dir) / "REACT_Comorbidities_unpivoted.csv"
demogFN = p.Path(data_dir) / "REACT_Demographics.csv"
comorbidDF:pd.DataFrame = pd.read_csv(comorbidFN)

In [49]:
comorbidDF:pd.DataFrame = pd.read_csv(comorbidFN)
demogDF:pd.DataFrame = pd.read_csv(demogFN)
covidDemogDF = pd.read_csv(p.Path(data_dir)/ 'REACT_COVID_Demographics.csv')
# **************************
lab_results_df = pd.read_csv(p.Path(data_dir) / 'REACT_LabResults.csv')
# pharmacy_data_df = pd.read_csv(p.Path(data_dir) / 'REACT_PharmacyData.csv')
covid_test_df = pd.read_csv(p.Path(data_dir) / 'REACT_UHSCOVIDTest_processed.csv')

In [50]:
demogDF.describe()

,PATIENT_AGE,GENDER,IS_PREGNANT,HEIG,WEIG,BMI,LOS,LOS_PREPOS
count,614.000000,614.000000,614.000000,277.000000,593.000000,271.000000,614.000000,614.000000
mean,67.929967,1.571661,0.009772,167.709531,75.407437,26.277343,15.838322,3.847264
std,19.635836,0.495241,0.098449,14.785532,21.033713,5.907941,17.310716,9.651141
min,0.000000,1.000000,0.000000,66.000000,0.000000,12.860000,0.000000,-0.370000
25%,55.250000,1.000000,0.000000,160.000000,62.700000,22.255000,4.622500,-0.080000
50%,72.000000,2.000000,0.000000,168.000000,75.000000,25.510000,10.095000,0.010000
75%,83.000000,2.000000,0.000000,177.800000,86.000000,29.895000,21.827500,3.705000
max,103.000000,2.000000,1.000000,198.000000,192.000000,50.560000,173.580000,127.140000

In [51]:
covidDemogDF

,STUDY_ID,PATIENT_AGE,GENDER,ETHNIC_GROUP,POSTCODE,IS_PREGNANT,HEIG,WEIG,BMI,FIRST_POS_DATE,...,DISCHARGEDATE,DISCHARGE_DATE_R,DISCHARGE_TIME_R,LOS,LOS_PREPOS,READM28,READM_DATETIME,READM_DATE,READM_TIME,DOBjan1st
0,UHSCOVID_00989a42,64,M,A,SO19,0,185.00,110.0,32.14,26/03/2020 14:48,...,02/04/2020 10:21,02/04/2020,10:21:00,6.71,-0.10,N,NaN,NaN,NaN,01/01/1956
1,UHSCOVID_00ac1e32,73,M,A,SO21,0,177.80,135.7,42.93,11/04/2020 17:55,...,NaN,NaN,NaN,38.25,4.00,N,NaN,NaN,NaN,01/01/1947
2,UHSCOVID_00cb7bdd,76,F,A,SO16,0,NaN,65.0,NaN,10/04/2020 17:03,...,13/04/2020 02:15,13/04/2020,02:15:00,2.35,-0.04,N,NaN,NaN,NaN,01/01/1944
3,UHSCOVID_01f7838d,97,M,A,SO16,0,NaN,80.0,NaN,11/05/2020 12:12,...,NaN,NaN,NaN,11.63,7.13,N,NaN,NaN,NaN,01/01/1923
4,UHSCOVID_025d562e,62,F,X,SO16,0,NaN,90.0,NaN,01/05/2020 23:58,...,NaN,NaN,NaN,14.11,0.11,N,NaN,NaN,NaN,01/01/1958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559,UHSCOVID_fc872d82,53,M,A,SO53,0,180.00,110.0,33.95,02/04/2020 16:07,...,NaN,NaN,NaN,52.03,8.70,N,NaN,NaN,NaN,01/01/1967
560,UHSCOVID_fd016c0e,47,M,X,SO15,0,NaN,NaN,NaN,11/04/2020 10:22,...,16/04/2020 21:38,16/04/2020,21:38:00,5.35,-0.12,N,NaN,NaN,NaN,01/01/1973
561,UHSCOVID_fd4da220,70,M,A,SO17,0,NaN,82.0,NaN,14/04/2020 16:44,...,18/04/2020 13:00,18/04/2020,13:00:00,3.87,0.03,N,NaN,NaN,NaN,01/01/1950
562,UHSCOVID_fd893360,67,F,A,SO41,0,NaN,75.0,NaN,29/03/2020 10:53,...,21/04/2020 12:20,21/04/2020,12:20:00,22.93,-0.13,Y,29/04/2020 15:20,29/04/2020,15:20:00,01/01/1953
563,UHSCOVID_fe8c3d54,88,F,A,SO15,0,160.02,40.0,15.62,10/04/2020 10:09,...,19/04/2020 15:28,19/04/2020,15:28:00,17.55,8.33,N,NaN,NaN,NaN,01/01/1932

In [52]:
# Index(['STUDY_ID', 'PATIENT_AGE', 'GENDER', 'ETHNIC_GROUP', 'POSTCODE',
#        'IS_PREGNANT', 'HEIG', 'WEIG', 'BMI', 'FIRST_POS_DATE',
#        'FIRST_POS_DATE_R', 'FIRST_POS_TIME_R', 'ADMIT_DATETIME', 'ADM_DATE_R',
#        'ADM_TIME_R', 'DISCHARGEDATE', 'DISCHARGE_DATE_R', 'DISCHARGE_TIME_R',
#        'LOS', 'LOS_PREPOS', 'READM28', 'READM_DATETIME', 'READM_DATE',
#        'READM_TIME', 'DOBjan1st'],
#       dtype='object')


dates2Convert={
    'covidDemographics':['']
}

In [53]:
u.convertDatesWTableName(covidDemogDF,'demographics_df')

KeyError: 'FIRST_POS_DATETIME'

In [ ]:
dfRes:pd.DataFrame = pd.merge(demogDF, comorbidDF, on='STUDY_ID', how='inner')

In [66]:
dfRes['RENAL_D_PRESENT'] = (dfRes['COMORBIDITY'] == 'RENAL_D')

In [67]:
dfRes['DIED'] = dfRes.DATE_OF_DEATH.notna()

In [68]:
dfRes[['STUDY_ID','DATE_OF_DEATH','DIED']].describe()

                 STUDY_ID        DATE_OF_DEATH   DIED
count                1628                  638   1628
unique                514                   62      2
top     UHSCOVID_d2da8453  2020-04-07 00:00:00  False
freq                   11                   34    990

In [69]:
dfRes = dfRes.filter(['STUDY_ID','RENAL_D_PRESENT','DATE_OF_DEATH','DIED'],axis=1)

In [73]:
dfRes3 = dfRes.groupby('STUDY_ID').agg(RENAL_D_PRESENT=('RENAL_D_PRESENT','any'),DIED=('DIED','any'))

In [75]:
dfRes3.head()

                   RENAL_D_PRESENT   DIED
STUDY_ID
UHSCOVID_00989a42            False  False
UHSCOVID_00ac1e32            False  False
UHSCOVID_00cb7bdd            False   True
UHSCOVID_01add35c            False   True
UHSCOVID_01f7838d             True  False

In [79]:
# crosstabRenalDeath = pd.crosstab(dfRes3['DIED'],dfRes3['RENAL_D_PRESENT'],margins=True,margins_name='Total')
crosstabRenalDeath = pd.crosstab(dfRes3['DIED'],dfRes3['RENAL_D_PRESENT'])
crosstabRenalDeath

RENAL_D_PRESENT  False  True
DIED
False              252     91
True                96     75

In [92]:
crosstabRenalDeath.index

Index([False, True], dtype='object', name='DIED')

In [91]:
crosstabRenalDeath.columns

Index([False, True], dtype='object', name='RENAL_D_PRESENT')

In [90]:
crosstabRenalDeath.reset_index()
crosstabRenalDeath

RENAL_D_PRESENT  False  True
DIED
False              252     91
True                96     75

In [94]:
crosstabRenalDeath.loc['RENAL_D_PRESENT']

KeyError: 'RENAL_D_PRESENT'

In [105]:
from scipy.stats import chi2_contingency

# defining the table
# data = [crosstabRenalDeath.loc['False',:].values().reshape(1,-1), [234, 242, 232]]
stat, p, dof, expected = chi2_contingency(crosstabRenalDeath)
print(f"stat = {stat}")
print(f"p = {p}")
print(f"dof = {dof}")
print(f"expected = {expected}")
md(f"Since p={p:.1g}<0.05, based on Chi2 test we can reject hypothesis that death as outcome does not depend on the presence of a renal disease.")

stat = 14.88914922319227
p = 0.00011401693102745145
dof = 1
expected = [[232.22568093 110.77431907]
 [115.77431907  55.22568093]]

Since p=0.0001<0.05, based on Chi2 test we can reject hypothesis that death as outcome does not depend on the presence of a renal disease.

In [107]:
RENAL_D_PRESENT = False
idx=pd.IndexSlice
crosstabRenalDeath.loc[:,idx[RENAL_D_PRESENT]]

DIED
False    252
True      96
dtype: int64

In [109]:
Died=False
crosstabRenalDeath.loc[Died,idx[RENAL_D_PRESENT]]

252

In [110]:
crosstabRenalDeath.loc[False,idx[False]]

252

In [59]:
demogDF.describe()

,PATIENT_AGE,GENDER,IS_PREGNANT,HEIG,WEIG,BMI,LOS,LOS_PREPOS
count,614.000000,614.000000,614.000000,277.000000,593.000000,271.000000,614.000000,614.000000
mean,67.929967,1.571661,0.009772,167.709531,75.407437,26.277343,15.838322,3.847264
std,19.635836,0.495241,0.098449,14.785532,21.033713,5.907941,17.310716,9.651141
min,0.000000,1.000000,0.000000,66.000000,0.000000,12.860000,0.000000,-0.370000
25%,55.250000,1.000000,0.000000,160.000000,62.700000,22.255000,4.622500,-0.080000
50%,72.000000,2.000000,0.000000,168.000000,75.000000,25.510000,10.095000,0.010000
75%,83.000000,2.000000,0.000000,177.800000,86.000000,29.895000,21.827500,3.705000
max,103.000000,2.000000,1.000000,198.000000,192.000000,50.560000,173.580000,127.140000

In [60]:
comorbidDF.head()

            STUDY_ID COMORBIDITY  STATUS
0  UHSCOVID_00989a42        COPD       1
1  UHSCOVID_0520de1c        COPD       1
2  UHSCOVID_0744a86c        COPD       1
3  UHSCOVID_0874d194        COPD       1
4  UHSCOVID_0b401459        COPD       1

In [61]:
comorbidDF.columns

Index(['STUDY_ID', 'COMORBIDITY', 'STATUS'], dtype='object')

In [ ]:
demogDF.head()

In [ ]:
demogDF.columns

In [ ]:
# demogDF.head()

In [ ]:
comorbidDF.columns

In [ ]:
# comorbidDF['COMORBIDITY'].unique()

In [62]:
dfRes:pd.DataFrame = pd.merge(demogDF, comorbidDF, on='STUDY_ID', how='inner')

In [63]:
dfRes['RENAL_D_PRESENT'] = (dfRes['COMORBIDITY'] == 'RENAL_D')

In [64]:
dfRes.head()

,STUDY_ID,PATIENT_AGE,DOB,DATE_OF_DEATH,DOD_DATE,GENDER,ETHNIC_GROUP,SMOKING_HISTORY,POSTCODE,IS_PREGNANT,...,DISCHARGE_TIME_R,LOS,LOS_PREPOS,READM28,READM_DATETIME,READM_DATE,READM_TIME,COMORBIDITY,STATUS,RENAL_D_PRESENT
0,UHSCOVID_00989a42,64.0,01/1956,NaN,NaN,2,A,NR|NR,SO19,0,...,10:21:00,6.71,-0.1,N,NaN,NaN,NaN,COPD,1,False
1,UHSCOVID_00989a42,64.0,01/1956,NaN,NaN,2,A,NR|NR,SO19,0,...,10:21:00,6.71,-0.1,N,NaN,NaN,NaN,ASTHMA,1,False
2,UHSCOVID_00989a42,64.0,01/1956,NaN,NaN,2,A,NR|NR,SO19,0,...,10:21:00,6.71,-0.1,N,NaN,NaN,NaN,DIABETES,1,False
3,UHSCOVID_00989a42,64.0,01/1956,NaN,NaN,2,A,NR|NR,SO19,0,...,10:21:00,6.71,-0.1,N,NaN,NaN,NaN,OBESITY,1,False
4,UHSCOVID_00ac1e32,73.0,10/1946,NaN,NaN,2,A,Ex-smoker|NR,SO21,0,...,12:56:00,41.79,4.0,N,NaN,NaN,NaN,HYPERTENSION,1,False

In [65]:
dfRes.columns

Index(['STUDY_ID', 'PATIENT_AGE', 'DOB', 'DATE_OF_DEATH', 'DOD_DATE', 'GENDER',
       'ETHNIC_GROUP', 'SMOKING_HISTORY', 'POSTCODE', 'IS_PREGNANT', 'HEIG',
       'WEIG', 'BMI', 'FIRST_POS_DATE', 'FIRST_POS_DATE_R', 'FIRST_POS_TIME_R',
       'ADMIT_DATETIME', 'ADM_DATE_R', 'ADM_TIME_R', 'DISCHARGEDATE',
       'DISCHARGE_DATE_R', 'DISCHARGE_TIME_R', 'LOS', 'LOS_PREPOS', 'READM28',
       'READM_DATETIME', 'READM_DATE', 'READM_TIME', 'COMORBIDITY', 'STATUS',
       'RENAL_D_PRESENT'],
      dtype='object')

In [ ]:
covidDemogDF.columns

In [ ]:
covidDemogDF.head()